<%- include("partials/header") -%>
<h1>History</h1>
<div class="con">
<p><%=paraabout %></p>
<p>The term web log was first used during the late 90s, which later became 'weblog', then 'we blog', and finally just 'blog'.Due to the growing number of such web pages, several tools started to appear, which made it easier for users to create online journals and personal blogs. These tools helped popularize blogging and made the technology accessible to non-technical users.</p>
<p>Today, WordPress is the world's most popular blogging platform powering over 43% of all websites on the internet.</p>
</div>
<h2>What Is a Blog Used For?
</h2>
<p>When blogs first appeared on the world wide web, their goal was mainly personal use, such as sharing stories, interests, and thoughts. While a blog's function remains the same, the type of content is more diverse. While many blogs still work like online diaries, some have started blogging to educate others on a specific subject or to build a professional online presence.</p>
<p>Many organizations and businesses use blogs as part of their content marketing strategies to boost brand awareness and increase conversions.
    A business's blog content usually focuses on industry-related information that may interest its target market. Often, a team of writers runs the blog instead of a single admin.   
    </p>
<%- include("partials/footer") -%>
