<%- include("partials/header") -%>
<h2><%-requestedtitle %></h2>
<div class="con" style=" word-break: break-all; word-wrap: break-word;">
<p> <%-requestedpost %> </p>
</div>
<%- include("partials/footer") -%>